.home-virtelecom {
  padding-left: 190px;

}

.content-virtelecom {
  margin-top: 50vh;
  margin-right: 110vh; /* Espaço para o menu lateral */
  padding: 20px;
  flex: 1;
  width: 100%;
}

h2 {
  padding-left: 30px;
}

.link-container-virtelecom {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px; /* Espaçamento entre os itens */
  padding-left: 15px;
}
