.notes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.note-card {
    width: 250px;
    height: 300px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.note-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.note-content {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.note-status {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.note-status.active {
    color: green;
}

.note-status.expired {
    color: red;
}

.note-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notes-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    width: 100%;
}
.ant-picker {
    box-sizing: border-box;
    margin: 37px;
    padding: 4px 11px 4px;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    line-height: 1;
    list-style: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    position: relative;
    display: inline-flex;
    align-items: center;
    border-radius: 6px;
    transition: border 0.2s, box-shadow 0.2s, background 0.2s;
}

.notes-input{
    box-sizing: border-box;
    margin: 0;
    padding: 4px 11px;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    line-height: 1.5714285714285714;
    list-style: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    position: relative;
    display: inline-block;
    width: 39%;
    min-width: 0;
    border-radius: 6px;
    transition: all 0.2s;
}