/* src/components/Popup.css */
/* src/components/Popup.css */
.popup {
  position: fixed;
  bottom: 10px; /* Ajuste conforme necessário */
  right: 10px;  /* Ajuste conforme necessário */
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Garante que o popup fique sobre outros elementos */
  max-width: 300px; /* Ajuste conforme necessário */
  border-radius: 4px; /* Bordas arredondadas */
  white-space: nowrap; /* Impede quebra de linha no conteúdo */
}

.popup-content {
  font-size: 14px; /* Tamanho da fonte do conteúdo do popup */
}

.popup-close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-size: 18px;
}
